.hed {
	color: crimson; 
	font-size: 500%;
	font-family: cursive;
	text-shadow: 5px 10px 15px blue;

}
.hea {
	margin-top: 0px;
	background-image: url("../2.jpg"); 
	width:98%; 
	height:50%; 
	background-repeat:no-repeat;
	text-align:center;
	overflow: hidden;
	margin-left: 1%;
}
.t1 {
	color: black;
}
.bjp {
	background-image: url("../sush1.jpg");
	margin-left: 3%;
	width:90%; 
	height:100%; 
	background-repeat:round;
	text-align:center;
}
.harry {
	background-image: url("../harry.png");
	margin-left: 3%;
	width:96%; 
	height:100%; 
	background-repeat:round;
	text-align:center;
}
a{
	color: blue; 
	text-decoration:none;
}
.table {
	width: 100%; 
	background-color: wheat; 
	border=1px; 
	cellpadding=2px;
	overflow: hidden;

}
.mac {
	color: black;
}

.im2 {
	 width: 30% ;
	 height: 100%;
	 background-image: url(bjp.jpg);
	 float: left;
	 font-size: 5px;

}

ul {
	display: inline;
	list-style-type: none;
	margin-left: 50%;
	width:500px;
	overflow: hidden;
	padding:0%; 
	color:green;
}
.bn li{
	display: inline-block;
	display: inline;
	height: 80px;
	padding: 25px 16px;

}
ul.format {
	display: inline-block;
	display: inline;
	height: 80px;
}

.nav {
	height: 10%;
	width: 100%;
	background-color: dimgray;
	overflow: hidden; 

}
.nav a {
	float: left;
	display: block;
	color: cornsilk;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	font-size: 18px;   
}
.nav a:hover {
	background-color: indianred; 
}


.format li {

}
li a {
	display: inline-block;
	color: black;
	float: left;
	padding: 12px, 16px;
	text-decoration: none; 
}
img {
	width:100px;
	height:50px;
	text-align:center;
}
.social { 
	background-color: dimgray;
	margin-left:10px;
    margin-top:50px;
    margin-bottom: 0px;
	text-decoration: none;
	float: left;
}
.social a img{ 
	display: inline;
	height: 40px;
	align-items: center;
}
